.categoriesHome{
    display:flex;
    /* justify-content:space-around; */
    flex-wrap: wrap;
    
    margin-top: 0rem;
    margin-bottom: 10px;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.card-categories-li-content{
    width: 9.1rem;
    height: 100%; 
    padding: 1.3rem;
    display: block; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0;
}

.categories-image{
    width: 80px;
    height:80px;
}